<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
            data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
            class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Invoice Items</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            <!--end::Separator-->

            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb fw-bold fs-7 my-1" *ngIf="schoolClass">
                <li class="breadcrumb-item" >
                    <a href="s" class="">{{schoolClass.description}}</a>
                </li>
                <li class="breadcrumb-item" >
                    <a href="#" class="">Invoice Items</a>
                </li>
            </ul>
            <!--end::Breadcrumb-->

        </div>
        <!--end::Page title-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-1">

            <button class="btn btn-primary" type="button" 
                    (click)="addNewItem()"
                    data-bs-toggle="modal" data-bs-target="#billable-form-modal">
                Add new Item
            </button>
            

        </div>
        <!--end::Actions-->
    </div>
    <!--end::Container-->
</div>

<div class="card card-xxl-stretch">

    <div class="card-header border-0 py-5"></div>

    <div class="card-body d-flex flex-column">
        <div class="table-responsive">
            <table
                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Description
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Amount
                        </th>
                        
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    <tr *ngFor="let billable of billableItems">
                        <th scope="row">
                            {{ billable.id }}
                        </th>
                        <td class="px-6 py-4">
                            {{ billable.description }}
                        </td>
                        <td class="px-6 py-4">
                            {{ billable.unitPrice }}
                        </td>

                        <td class="px-6 py-4">
                            <a href="#" class="btn btn-sm btn-primary me-4" data-bs-toggle="modal"
                                (click)="selectItem(billable.id)"
                                data-bs-target="#billable-form-modal">
                                Edit
                            </a>
                            <a href="#" class="btn btn-sm btn-secondary me-4">
                                Disable
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="billable-form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add New Invoice Item</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span class="svg-icon svg-icon-1"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">


                <form class="space-y-6" #categoryForm="ngForm">
                    <div class="mb-10 row">
                        <div class="col-md-12">
                            <label for="category_name" class="form-label">Description</label>
                            <input type="text" [(ngModel)]="billable.description" name="description" #name="ngModel"
                                class="form-control" placeholder="Description" required minlength="4">          
                        </div>
                                  
                    </div>
                    <div class="mb-10 row">
                        <div class="col-md-12">
                            <label for="category_name" class="form-label">Price</label>
                            <input type="text" [(ngModel)]="billable.unitPrice" name="unitPrice" #name="ngModel"
                                class="form-control" placeholder="Price" required minlength="4">          
                        </div>
                                 
                    </div>
                    
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" id="close-billable-form-modal" class="btn btn-light"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveItem()">Save changes</button>
            </div>
        </div>
    </div>
</div>